openai==0.27.8
streamlit==1.24.0
beautifulsoup4==4.11.1
requests==2.28.2
requests-file==1.5.1
requests-html==0.10.0
requests-toolbelt==1.0.0
newspaper3k==0.2.8
pandas==1.5.2
overpy==0.6
st-pages==0.4.3
langchain==0.0.292
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.38
google-api-core==2.11.0
google-api-python-client==2.98.0
google-auth==2.16.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-cloud-core==2.3.3
google-cloud-translate==3.12.0
google-search-results==2.4.2
googleapis-common-protos==1.58.0
hugchat==0.3.1
perplexityai @ git+https://github.com/nathanrchn/perplexityai.git@fca9bb5220cc8d0f2277aa5b78a9ca0d83602fb8